<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellison.aop">

    <application>
        <activity android:name=".AopDetailActivity" />

        <activity android:name=".execution_method.ExecutionMethodActivity" />
        <activity android:name=".annotation_method.AnnotationMethodActivity" />
    </application>

</manifest>
