<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellison.aop">

    <application>
        <activity android:name=".AopDetailActivity" />
        <activity android:name=".execution.execution_method.ExecutionMethodActivity" />
        <activity android:name=".execution.annotation_method.AnnotationMethodActivity" />
        <activity android:name=".within.within_package.WithinInPackageActivity" />
        <activity android:name=".within.within_annotation.WithInAnnotationActivity" />
    </application>

</manifest>
